@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;1,500&display=swap');
* {
     padding: 0px; margin: 0px;
     font-family: 'Poppins', sans-serif;
     text-decoration: none;
     transition: all .2s ease-out;
     scroll-behavior: smooth;
     box-sizing: border-box;
}
*::-webkit-scrollbar {
     display: none;
}
#home a:hover, #about a:hover {
     text-decoration: none;
     opacity: 1 !important;
     transition: 300ms;
}
#projects a {
     text-decoration: underline;
}
.navbar a:hover {
     text-decoration: none !important;
}
.navbar-toggler {
     border: none !important;
     display: flex;
     justify-content: center;
     align-items: center;
}
footer nav a {
     opacity: 0.8;
     font-size: 18px;
}
footer nav a:hover {
     opacity: 1;
}
footer small a {
     opacity: 0.8;
}
footer small a:hover {
     color: #fff;
     text-decoration: underline;
     opacity: 1;    
}